* {
	font-family: Arial, Helvetica, sans-serif;
}

body { 
	padding: 0 10px 0 10px;/*top right bottom left*/
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

hr {
	border: 1px solid black;
	margin: 8px 0 16px 0;/*top right bottom left*/
}

p {
	margin: 4px 0 0 0;
}

a {
	color: #c33;
}

button {
	margin: 0;
	padding: 4px;
	cursor: pointer;
	border: none;
	outline: none;
	color: #c33;
	background-color: #fff;
	font-size: 16px;
}

button:hover {
	background-color: #ddd;
}

th, td {
	margin: 0;
	padding: 4px;
	text-align: left;
	vertical-align: top;
}

.outertable {
	margin: 0;
	padding: 0;
}

.innertable {
	padding: 0;
	margin-top: 5px;
	border: 1px solid black;
	display: none;
	overflow: hidden;
}

.small {
	font-size: 12px;
}

#wrapped {
	width: auto;
}